<div class="container">
   <div class="row">
     <h4 class="col-md-8 mb-4">マイページ</h4>
     <div class="col-md-8">
       <span class="font-weight-bold">登録情報</span>
       <%= link_to edit_customer_path(current_customer), class:"ml-5 btn btn-success" do %>
         編集する
       <% end %>
     <table class="table table-bordered mt-4">
       <tr>
         <th class="table-light">氏名</th>
         <td><%= @customer.last_name %> <%= @customer.first_name %></td>
       </tr>
       <tr>
         <th class="table-light">カナ</th>
         <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
       </tr>
       <tr>
         <th class="table-light">郵便番号</th>
         <td><%= @customer.postal_code %></td>
       </tr>
       <tr>
         <th class="table-light">住所</th>
         <td><%= @customer.address %></td>
       </tr>
       <tr>
         <th class="table-light">電話番号</th>
         <td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
         <th class="table-light">メールアドレス</th>
         <td><%= @customer.email %></td>
       </tr>
     </table>
     <div class="mb-4">
       <span class="font-weight-bold">配送先　</span>
     　<%= link_to addresses_path, class:"btn btn-primary" do %>
        一覧を見る
       <% end %>
     </div>
     <div>
       <span class="font-weight-bold">注文履歴　</span>
       <%= link_to orders_path, class:"btn btn-primary" do %>
         一覧を見る
       <% end %>
     </div>
   </div>
</div>