<h2>商品詳細</h2>

<%= image_tag @item.get_image %>

<P>商品名 <%= @item.name %></p>
<p>商品説明 <%= @item.introduction %></p>
<p>ジャンル　<%= @item.genre.name</p>
<p>税込価格（税抜価格）¥<%= @item.with_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</p>
<p>販売ステータス　<% if @item.is_active == true %>
                        <%= "販売中" %>
                      <% else %>
                        <%= "販売停止中" %>
                      <% end %>
</p>

<%= link_to "編集する", edit_admin_product_path(@item) %>