<table>
  <tr>
    <th>ジャンル検索</th>
  </tr>
  <tr>
    <% @genres.each do |genre| %>
      <td><%= link_to "genre.name", genre_path(genre.id) %></td>
    <% end %>
  </tr>
</table>

<h3><%= @genre.name %>一覧（全<%= @genre.items.count %>件）</h3>
<% @genre.items.each do |item| %>
  <%= link_to item_path(item.id), do %>
    <%= image_tag item.get_image(200, 200) %><br>
    <%= item.name %><br>
    ¥<%= item.with_tax_price.to_s(:delimited) %>
  <% end %>
<% end %>