<div class="container">
  <div class="row">
    <h4 class="col-md-8">配送先編集</h4>
    <div class="col-md-8">
      <%= form_with model: @address, url: address_path do |f| %>
        <div class="form-group row mt-4">
          <label for="inputpostal_code" class="col-sm-4 col-form-label">郵便番号（ハイフンなし）</label>
          <div class="col-md-8">
            <%= f.text_field :postal_code %>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputaddress" class="col-sm-4 col-form-label">住所</label>
          <div class="col-md-8">
            <%= f.text_field :address, :size => "40*40" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputname" class="col-sm-4 col-form-label">宛名</label>
          <div class="col-md-6">
            <%= f.text_field :name %>
          </div>
          <div class="col-md-2">
            <%= f.submit '変更内容を保存', class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>