<div class="container">
  <div class="row">
      <div class="col-md-11 mx-auto">
        <h4 class="mt-3">ショッピングカート</h4>
         <%= link_to destroy_all_cart_items_path, method: :delete, class: "btn btn-danger float-right mb-4" do %>
           カートを空する
         <% end %>
         <table class="table table-bordered">
          <thead class="table-secondary">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% total_price = 0 %>
            <% @cart_items.each do |cart_item| %>
             <tr>
                <td><%= image_tag cart_item.item.get_image(80, 100) %>
                    <%= cart_item.item.name %>
                </td>
                <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
                <td class="align-middle"><%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true do |f| %>
                        <%= f.select :amount, *[1..10] %>
                        <%= f.submit "変更", class: "btn btn-success" %>
                    <% end %>
                </td>
                <td class="align-middle"><%= cart_item.subtotal.to_s(:delimited) %></td>
                  <% total_price +=  cart_item.subtotal %>
                <td class="align-middle"><%= link_to cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" do %>
                      削除する
                    <% end %>
                </td>
             </tr>
            <% end %>
          </tbody>
        </table>
        <div class="float-left ml-4">
          <%= link_to root_path, class: "btn btn-primary" do %>
            買い物を続ける
          <% end %>
        </div>
        <div class="col-md-4 float-right"> 
         <table class="table table-bordered">
          <tr>
           <th>合計金額</th>
           <td><%= total_price.to_s(:delimited) %></td>
          </tr> 
         </table>
        </div>
        <div class="mx-auto mt-5" style="width: 200px">
          <% if @cart_items.present? %>
            <%= link_to new_order_path, class: "btn btn-success btn-lg mt-5" do %>
              情報入力に進む
            <% end %>
          <% else %>
            <%  %>
          <% end %>
        </div>
      </div>
   </div>
</div>