<h3>ジャンル検索</h3>
 <% @genres.each do |genre| %>
   <%= link_to genre_path(genre.id) do %>
      <%= genre.name %>
   <% end %>
 <% end %>

<h3>商品一覧(全<%= @items.count %>件)</h3>
<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image(200, 200) %><br>
    <%= item.name %><br>
    ¥<%= item.with_tax_price.to_s(:delimited) %>
  <% end %>
<% end %>
<%= paginate @items %>